@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #EF4444;
    /* --primary-color: #8B5CF6; */
    --dark-gray: rgb(20, 17, 17);
    --off-white:#FEE2E2;
    /* --off-white:#F3F4F6; */
}
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; 
  }
body{
    width: 60%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    /* margin:0px; */
    /* background:#CFFAFE; */
    
}
hr{
    margin: 10px 0px;
}

/** container**/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/**links **/
.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    /* border: 1px solid var(--primary-color); */
    
}
.list-non-bullets{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align:right;
}
.navigation .link{
    color: white;

}
.navigation .link-active{
    font-weight: bold;
}

      /** header**/

.hero{
    padding:2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: left
    color: var(--dark-gray);
    margin: 0 auto;
    margin-bottom: 0%;
    padding: 1rem;
}

.hero .hero-heading .hero-span-color{
    color: var(--primary-color);
}


      /**section**/
.section{
    padding: 2rem;
     border-radius: 1rem 1rem 0rem 0rem; 

}
.section h1{
    text-align: left;
}
.off{
   background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align:center;
    color: white;
    border-top-right-radius: 1rem;
    margin-top: 1rem;

}
.footer .footer-header{
    font-size: large;
    font-weight: bold;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;

}
.margin{
    margin-bottom: 2.5rem;
}
ul a:hover{
    background-color: #FCA5A5;
    border-radius: 10% 10%;
}  



/*     @BLOGS */
.blog-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}


.blog1-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 10%;
    border-radius: 15px;
}

.lastline-center{
    text-align-last: center;
} 